* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: 'Domine', serif;
}

li {
  list-style: none;
  font-size: 1.6rem;
}

.castle-tile {
  margin: 1rem;
  padding: 2rem;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px;

  h2 {
    margin-bottom: 0.4rem;
  }
}

.gallery {
  display: flex;
  width: fit-content;
  border-radius: 5px;
  overflow: hidden;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;

  img {
    width: 8rem;
    height: 4rem;

    object-fit: cover;
    object-position: center;
    vertical-align: bottom;

    transition: all 0.3s;
  }

  img:hover {
    opacity: 1;
  }

  .gallery-item-overlay {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .gallery-item-overlay:hover {
    opacity: 1;
    background-color: #00000040;
  }
}
